/*
0 - 600px :    phone
600 - 900px :  tablet portrait
900 - 1200px : tablet landscape
(1200 - 1800 : default styles)
1800px + :     big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: Base + typography > general layout & grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #888; }

::selection {
  background-color: #55c57a;
  color: #fff; }

.u-margin-auto {
  margin: 0 auto !important; }

.u-text-center {
  text-align: center !important; }

.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-margin-bottom-smallest {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-smaller {
  margin-bottom: 3rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-large {
  margin-bottom: 7.5rem !important; }

.u-margin-bottom-larger {
  margin-bottom: 9rem !important; }

.u-margin-bottom-largest {
  margin-bottom: 10.5rem !important; }

.c-btn, .c-btn:link, .c-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all .1s;
  position: relative;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.c-btn--white {
  background-color: #fff;
  color: #222; }

.c-card {
  background-color: #fff;
  display: inline-block;
  width: 100%; }
  .c-card-contact {
    background-color: #222; }
    .c-card-contact__header {
      padding-top: 3.5rem; }
    .c-card-contact__heading {
      color: #fff;
      font-size: 3rem; }
    .c-card-contact__text {
      color: #fff;
      font-size: 2rem; }
    .c-card-contact__footer {
      padding: 3rem; }
      .c-card-contact__footer--tertiary-light {
        background-color: #2998ff; }
      .c-card-contact__footer--tertiary-dark {
        background-color: #5643fa; }
    .c-card-contact__footing {
      color: #fff;
      font-size: 3rem; }

.c-hero {
  background-image: linear-gradient(to bottom, white, rgba(41, 152, 255, 0.8)), url(../img/hero-test.jpeg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin-top: 2rem;
  position: relative;
  text-align: center; }
  .c-hero__content-container {
    max-width: 114rem;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .c-hero__header {
    padding: 5rem 0; }
  .c-hero__heading {
    color: #444;
    display: block;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap; }
  .c-hero__sub-heading {
    color: #666;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap; }
  .c-hero__text {
    font-size: 1.5rem;
    color: #666; }
  .c-hero__footer {
    background-color: #222222;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 5rem 0;
    transform: translate(-50%, -50%); }

.c-icon {
  font-size: 6rem;
  padding: 0rem;
  background-color: #fff;
  color: #444; }
  .c-icon-contact-card {
    padding: 1.5rem;
    border-radius: 10rem;
    font-size: 4rem; }
    .c-icon-contact-card--tertiary-light {
      color: #2998ff; }
    .c-icon-contact-card--tertiary-dark {
      color: #5643fa; }

.c-topnav {
  background-color: #fff;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .c-topnav__content-container {
    margin: 0 auto;
    max-width: 114rem;
    position: relative; }
  .c-topnav__logo-box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .c-topnav__logo {
    display: inline-block;
    font-size: 2rem;
    color: #666;
    text-decoration: none;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle; }
    .c-topnav__logo:hover {
      color: #5643fa; }
    .c-topnav__logo--main {
      display: block; }
    .c-topnav__logo--sub {
      display: block; }
  .c-topnav__list {
    list-style: none;
    margin: auto 0;
    text-align: right; }
  .c-topnav__item {
    display: inline-block;
    text-decoration: none; }
  .c-topnav__link {
    text-decoration: none;
    display: inline-block;
    padding: 3rem 3rem; }
    .c-topnav__link:link, .c-topnav__link:visited {
      color: #666;
      font-size: 2rem; }
    .c-topnav__link:hover, .c-topnav__link:active {
      color: #5643fa; }

.c-section {
  padding: 10rem 0; }
  .c-section-portfolio {
    background-color: #fff; }
  .c-section-about {
    background-color: #fff; }
  .c-section-contact {
    background-color: #fff; }
  .c-section__heading {
    color: #444;
    font-size: 6rem; }
  .c-section__sub-heading {
    color: #666;
    font-size: 4rem; }

.l-row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .l-row::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .l-row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .l-row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .l-row:not(:last-child) {
        margin-bottom: 6rem; } }
  .l-row [class^="l-col-"] {
    float: left; }
    .l-row [class^="l-col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .l-row [class^="l-col-"]:not(:last-child) {
          margin-right: 0; } }
      @media only screen and (max-width: 56.25em) {
        .l-row [class^="l-col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .l-row [class^="l-col-"] {
        width: 100% !important; } }
  .l-row .l-col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .l-row .l-col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .l-row .l-col-2-of-3 {
    width: calc((100% - 6rem) / (3/2) + ((2/3 - 1/3) * 6rem)); }
  .l-row .l-col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .l-row .l-col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .l-row .l-col-3-of-4 {
    width: calc((100% - 6rem) / (4/3) + ((3/4 - 1/4) * 6rem)); }
  .l-row .l-col-1-of-5 {
    width: calc((100% - (4 * 6rem)) / 5); }
  .l-row .l-col-2-of-5 {
    width: calc((100% - 6rem) / (5/2) + ((2/5 - 3/5) * 6rem)); }
  .l-row .l-col-3-of-5 {
    width: calc((100% - 6rem) / (5/3) + ((3/5 - 2/5) * 6rem)); }
  .l-row .l-col-4-of-5 {
    width: calc((100% - 6rem) / (5/4) + ((4/5 - 1/5) * 6rem)); }
