/*
0 - 600px :    phone
600 - 900px :  tablet portrait
900 - 1200px : tablet landscape
(1200 - 1800 : default styles)
1800px + :     big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: Base + typography > general layout & grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #777; }

.heading-primary {
  color: #333;
  text-transform: uppercase;
  font-size: 6rem;
  display: block; }
  .heading-primary--white {
    color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: #333;
  letter-spacing: 2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-smallest {
  margin-bottom: .5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-smallest {
  margin-top: .5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  background-color: #5643fa;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: .6rem;
  padding: 2rem 6rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /*automatically sets styles of animation at 0% before animation begins*/ }

.btn--center {
  display: block;
  margin: 0 auto; }

.btn-text:link, .btn-text:visited {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  transition: all .1s; }

.btn-text:hover {
  background-color: #5643fa;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.contact-card {
  background-color: #333;
  text-align: center;
  height: 40rem;
  margin-left: auto;
  margin-right: auto; }
  .contact-card__icon {
    margin-top: 5rem;
    font-size: 4rem;
    background-color: #fff;
    color: #2998ff;
    border-radius: 10rem;
    padding: 2rem; }
  .contact-card__header {
    margin-top: 2rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    color: #999;
    letter-spacing: 2px; }
    .contact-card__header--dark {
      color: #333; }
    .contact-card__header--light {
      color: #fff; }
  .contact-card__body {
    margin-top: 5rem;
    color: #fff; }
    .contact-card__body--dark {
      color: #333; }
    .contact-card__body--light {
      color: #fff; }

.section-header {
  text-align: center; }
  .section-header__icon {
    font-size: 4rem;
    background-color: #2998ff;
    color: #fff;
    border-radius: .5rem;
    padding: 2.5rem; }
  .section-header__title {
    color: #333;
    text-transform: uppercase;
    font-size: 6rem;
    display: block; }
    .section-header__title--white {
      color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((100% - 6rem) / (3/2) + ((2/3 - 1/3) * 6rem)); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc((100% - 6rem) / (4/3) + ((3/4 - 1/4) * 6rem)); }
  .row .col-1-of-5 {
    width: calc((100% - (4 * 6rem)) / 5); }
  .row .col-2-of-5 {
    width: calc((100% - 6rem) / (5/2) + ((2/5 - 3/5) * 6rem)); }
  .row .col-3-of-5 {
    width: calc((100% - 6rem) / (5/3) + ((3/5 - 2/5) * 6rem)); }
  .row .col-4-of-5 {
    width: calc((100% - 6rem) / (5/4) + ((4/5 - 1/5) * 6rem)); }

.header {
  background-image: linear-gradient(to bottom, white, rgba(255, 185, 0, 0.8)), url(../img/hero-test.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 85vh;
  text-align: center;
  margin-top: 8.35rem; }
  .header__content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__title {
    color: #333;
    text-transform: uppercase;
    font-size: 6rem;
    display: block;
    white-space: nowrap;
    font-weight: 700; }
  .header__subtitle {
    color: #333;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    letter-spacing: 2px; }

.topnav {
  background-color: #fff;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .topnav__container {
    margin: 0 auto;
    max-width: 114rem;
    position: relative; }
  .topnav__logo-box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .topnav__logo {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle; }
    .topnav__logo:hover {
      color: #5643fa; }
    .topnav__logo--name {
      display: block; }
    .topnav__logo--title {
      display: block; }
  .topnav__list {
    list-style: none;
    margin: auto 0;
    text-align: right; }
  .topnav__item {
    display: inline-block;
    text-decoration: none; }
  .topnav__link {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 3rem 3rem; }
    .topnav__link:link, .topnav__link:visited {
      color: #333;
      font-size: 2rem; }
    .topnav__link:hover, .topnav__link:active {
      color: #5643fa; }

.section-about {
  padding: 15rem 0; }
  .section-about__img {
    width: 100%;
    border-radius: 100rem; }

.section-portfolio {
  padding: 15rem 0;
  background-color: #333; }
  .section-portfolio__img {
    width: 100%;
    border-radius: .5rem; }
