.topnav {
  background-color: $color-grey-dark-3;

  &__container {
    margin: 0 auto;
    max-width: $grid-width;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &__logo-box {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }

  &__logo {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
    line-height: 3rem;

    &--name {
      display: block;
    }

    &--title {
      display: block;
    }
  }

  &__list {
    list-style: none;
    margin: auto 0;
    text-align: right;
  }
  
  &__item {
    display: inline-block;
    text-decoration: none;

    &:not(:last-child) {
      padding-right: 6rem;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;

    &:link,
    &:visited {
      color: $color-white;
      font-size: 2rem;
    }

    &:hover,
    &:active {

    }
  }
}