.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-tertiary-dark;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: .6rem;
    padding: 2rem 6rem;
    font-size: $default-font-size;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);

    //change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active,
  &:focus {
    outline:none;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    /*automatically sets styles of animation at 0% before animation begins*/
  }

  &--center {
    display: block;
    margin: 0 auto;
  }
}

.btn-text {

  &:link,
  &:visited {
    text-align: center;
    color: $color-white;
    font-size: $default-font-size;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    transition: all .1s;
  }

  &:hover {
    background-color: $color-tertiary-dark;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(-2px);
  }
}