.c-card {
  background-color: $color-white;
  display: inline-block;
  width: 100%;

  &-contact {
    background-color: $color-grey-darkest;  

    &__header {
      padding-top: 3.5rem;
    }

    &__heading {
      color: $color-white;
      font-size: 3rem;
    }

    &__body {
      
    }

    &__text {
      color: $color-white;
      font-size: 2rem;
    }

    &__footer {
      padding: 3rem;

      &--tertiary-light {
        background-color: $color-tertiary-light;
      }

      &--tertiary-dark {
        background-color: $color-tertiary-dark;
      }
    }

    &__footing {
      color: $color-white;
      font-size: 3rem;
    }
  }
}