.contact-card {
  background-color: $color-grey-dark-3;
  text-align: center;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;

  &__icon {
    margin-top: 5rem;
    font-size: 4rem;
    background-color: $color-white;
    color: $color-tertiary-light;
    border-radius: 10rem;
    padding: 2rem;
  }

  &__header {
    margin-top: 2rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    color: $color-grey-dark-2;
    letter-spacing: 2px;

    &--dark {
      color: $color-grey-dark-3;
    }

    &--light {
      color: $color-white;
    }
  }

  &__body {
    margin-top: 5rem;
    color: $color-white;

    &--dark {
      color: $color-grey-dark-3;
    }

    &--light {
      color: $color-white;
    }
  }

  &__footer {

  }
}