.c-contact-card {
  background-color: $color-white;
  display: inline-block;
  width: 100%;
  height: 33rem;
  box-shadow: 0 1rem 2rem rgba(BLACK, .2);

  &__header {
    padding-top: 3.5rem;
  }

  &__heading {
    color: $color-grey-darker;
    font-size: 3rem;
  }

  &__body {
  }

  &__text {
    color: $color-white;
    font-size: 2rem;
  }

  &__footer {
    padding: 3rem;

    &--tertiary-light {
      background-color: $color-tertiary-light;
    }

    &--tertiary-dark {
      background-color: $color-tertiary-dark;
    }
  }

  &__footing {
    color: $color-white;
    font-size: 2rem;
  }
}