.hero {
  background-image: linear-gradient(to bottom,
    rgba($color-white, 1),
    rgba($color-secondary-light, .8)),
    url(../img/hero-test.jpeg);

  background-size: cover;
  background-position: center;
  position: relative;
  height: 85vh;
  text-align: center;
  margin-top: 8.35rem;

  &__container {
    @include absCenter;
  }

  &__header {}

  &__body {}

  &__footer {}

  &__heading {
    color: $color-grey-dark;
    text-transform: uppercase;
    font-size: 6rem;
    display: block;
    white-space: nowrap;
    font-weight: 700;
  }

  &__sub-heading {}

  &__text {
    color: $color-grey-dark;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    letter-spacing: 2px;
  }

  &__list {}

  &__icon {}

  &__cta {}
}