.c-icon {
  font-size: 6rem;
  padding: 0rem;
  background-color: $color-white;
  color: $color-grey-darker;

  &-contact-card {

    padding: 1.5rem;
    border-radius: 10rem;
    font-size: 4rem;

    &--tertiary-light {
      color: $color-tertiary-light;
    }

    &--tertiary-dark {
      color: $color-tertiary-dark;
      
    }
    
  }
}