.c-icon {
  font-size: 6rem;
  border-radius: 10rem;
  padding: 1.5rem;
  background-color: $color-white;
  color: $color-grey-darker;

  &--small {
    font-size: 4rem;
  }

  &--color-tertiary-light {
    color: $color-tertiary-light;
  }

  &--color-tertiary-dark {
    color: $color-tertiary-dark;
    
  }
    
}