.section-icon-title {
  text-align: center;

  &__icon {
    font-size: 4rem;
    background-color: $color-tertiary-light;
    color: $color-white;
    border-radius: 10rem;
    padding: 2rem;
  }

  &__title {
    color: $color-grey-dark-3;
    text-transform: uppercase;
    font-size: 6rem;
    display: block;

    &--white {
      color: $color-white;
    }
  }
}