body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $color-grey-medium;
}

// .heading {
//   font-size: 3.5rem;
//   color: $color-grey-medium;
//   display: block;
//   text-transform: uppercase;

//   &--extra-small {
//     font-size: $default-font-size;
//   }

//   &--small {
//     font-size: 2.25rem;
//   }

//   &--large {
//     font-size: 4.75rem;
//   }

//   &--extra-large {
//     font-size: 6rem;
//   }

//   &--white {
//     color: $color-white;
//   }

//   &--black {
//     color: $color-black;
//   }

//   &--grey-light{
//     color: $color-grey-light;
//   }

//   &--grey-dark {
//     color: $color-grey-dark;
//   }

//   &--primary {
//     color: $color-primary;
//   }

//   &--primary-light {
//     color: $color-primary-light;
//   }

//   &--primary-dark {
//     color: $color-primary-dark;
//   }

//   &--secondary-light {
//     color: $color-secondary-light;
//   }

//   &--secondary-dark {
//     color: $color-secondary-dark;
//   }

//   &--tertiary-light {
//     color: $color-tertiary-light;
//   }

//   &--tertiary-dark {
//     color: $color-tertiary-dark;
//   }
// }

// .paragraph {
//   font-size: $default-font-size;

//   &--large {
//     font-size: 2rem;
//   }

//   &--extra-large {
//     font-size: 3rem;
//   }

//   &--white {
//     color: $color-white;
//   }

//   &--black {
//     color: $color-black;
//   }

//   &--grey-light{
//     color: $color-grey-light;
//   }

//   &--grey-dark {
//     color: $color-grey-dark;
//   }

//   &--primary {
//     color: $color-primary;
//   }

//   &--primary-light {
//     color: $color-primary-light;
//   }

//   &--primary-dark {
//     color: $color-primary-dark;
//   }

//   &--secondary-light {
//     color: $color-secondary-light;
//   }

//   &--secondary-dark {
//     color: $color-secondary-dark;
//   }

//   &--tertiary-light {
//     color: $color-tertiary-light;
//   }

//   &--tertiary-dark {
//     color: $color-tertiary-dark;
//   }

//   &:not(:last-child) {
//     margin-bottom: 3rem;
//   }
// }