.u-margin-auto {
  margin: 0 auto !important;
}
.u-text-center {
  text-align: center !important;
}
.u-text-left {
  text-align: left !important;
}
.u-text-right {
  text-align: right !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-smaller {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 4.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 7.5rem !important;
}

.u-margin-bottom-larger {
  margin-bottom: 9rem !important;
}

.u-margin-bottom-largest {
  margin-bottom: 10.5rem !important;
}
