.section-about {
  padding: 15rem 0;

  &__img {
    width: 100%;
    border-radius: 100rem;
  }
}

.section-portfolio {
  padding: 15rem 0;
  background-color: $color-grey-dark-3;

  &__img {
    width: 100%;
    border-radius: .5rem;
  }
}